


html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

div#navbar-right p a,div#navbar-right a, div#enviar a{
    margin-right: 2em;
    font-size: 0.9em;
    font-weight: 500;
}

div#enviar a{

    font-size: 0.9em;
    font-weight: 500;
}

p a {
    color: black;
    text-decoration: none;
}

#contacto a{
    color: blueviolet;
}



button {
    background-color: white;
    border-radius: 30px;
    padding: 0px 1.5em;
    height: 3em;
    border: 2px solid black;
    font-size: 0.8em;
    width: 8em;
    
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

footer a {
    color: white;
    text-decoration: none;
}

div#navbar-left img {
    width: 8em;
}

@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
